<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674817529988-jcdsfd2jsfb5ukqigk9bseshu6p0nigp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674817529988-jcdsfd2jsfb5ukqigk9bseshu6p0nigp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674817529988-5arlp08vrh2kvm914efhnfs8ilr9lsst.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtIBj3BI3xwbV1vmggOx8i660WxBT5BJo</string>
	<key>GCM_SENDER_ID</key>
	<string>674817529988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farmerDoorStep.app</string>
	<key>PROJECT_ID</key>
	<string>farmers-doorstep</string>
	<key>STORAGE_BUCKET</key>
	<string>farmers-doorstep.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674817529988:ios:a4005087d6308951d0cad1</string>
</dict>
</plist>